<div class="row">
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <a href="/panel/profile">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="p-2 text-xs-center bg-cyan bg-darken-2 media-left media-middle">
                            <i class="icon-profile font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-cyan white media-body">
                            <h5>%%Profiles%%</h5>
                            <h5 class="text-bold-400">{{NUM_PROFILES}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <a href="/panel/category">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="p-2 text-xs-center bg-deep-orange bg-darken-2 media-left media-middle">
                            <i class="icon-list font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-deep-orange white media-body">
                            <h5>%%Categories%%</h5>
                            <h5 class="text-bold-400">{{NUM_CATEGORIES}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <a href="/panel/factory">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="p-2 text-xs-center bg-teal bg-darken-2 media-left media-middle">
                            <i class="icon-office font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-teal white media-body">
                            <h5>%%Factories%%</h5>
                            <h5 class="text-bold-400">{{NUM_FACTORIES}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <a href="/panel/sector">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="p-2 text-xs-center bg-pink bg-darken-2 media-left media-middle">
                            <i class="icon-location2 font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-pink white media-body">
                            <h5>%%Sectors%%</h5>
                            <h5 class="text-bold-400">{{NUM_SECTORS}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>