<div class="container">
   <div class="row">
      <div class="col-md-8" style="padding-right:0;">
         <div class="col-md-12" style="padding-left:0; padding-right:0; ">
            <div class="slider-widget drop-shadow">
               <!--carousel -->
              <jdoc:include type="modules" name="slider" />
               <!--carousel -->
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="widget-random drop-shadow">
                 <img class="img-fluid" style="height:100%;" src="https://dummyimage.com/371x150/fff/000">
               </div>
               <div class="btn-absolute btn-danger">
                  <a href="#">SHOP NOW</a>
               </div>
            </div>
            <div class="col-md-6">
               <div class="widget-random drop-shadow"><img class="img-fluid" style="height:100%;" src="https://dummyimage.com/371x150/fff/000"></div>
               <div class="btn-absolute btn-danger">
                  <a href="#">SHOP NOW</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="banner-widget drop-shadow">
           <jdoc:include type="modules" name="position-12" />
         </div>
      </div>
   </div>
   <!-- end row main content -->
</div>
<!-- end container main content -->
