@media (max-width: 1170px) {
    #jm-allpage .dj-megamenu li a.dj-up_a {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media (max-width: 979px) {
    .jm-module-in {
        height: auto !important
    }
    img {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .btn {
        -webkit-appearance: none
    }
    #jm-djmenu {
        text-align: center
    }
    #jm-back-top span {
        width: 40px;
        height: 40px
    }
    .jm-module-in {
        height: auto !important
    }
    .jm-bottom-box .icon {
        display: block
    }
}

@media (max-width: 767px) {
    input,
    select,
    textarea {
        max-width: 100%
    }
    #jm-footer-left,
    #jm-footer-right,
    #jm-footer-center {
        text-align: center
    }
    .jm-bottom-box {
        margin: 0;
        text-align: center
    }
    .jm-bottom-box .content {
        padding-top: 30px
    }
    .items-row {
        margin-bottom: 30px
    }
    .items-row .item {
        margin-bottom: 30px
    }
}

@media (max-width: 325px) {
    #jm-bar-right {
        min-width: none
    }
    #jm-allpage #jm-page .search-ms .search form {
        width: auto;
        height: auto
    }
    #jm-allpage #jm-page .search-ms .search input#mod-search-searchword {
        position: static
    }
    #jm-allpage #jm-page .search-ms .search input.button,
    #jm-allpage #jm-page .search-ms .search button.button {
        right: 5px
    }
    #jm-allpage #jm-page .search-ms .search input#mod-search-searchword {
        max-width: 100%;
        padding: 0 30px 0 10px;
        width: 100%;
        border-color: #cc262b;
        pointer-events: auto;
        opacity: 1;
        filter: alpha(opacity=100)
    }
    html[dir='rtl'] #jm-allpage #jm-page .search-ms .search input.button,
    html[dir='rtl'] #jm-allpage #jm-page .search-ms .search button.button {
        right: auto;
        left: 5px
    }
    html[dir='rtl'] #jm-allpage #jm-page .search-ms .search input#mod-search-searchword {
        padding: 0 10px 0 30px
    }
}

@media (max-width: 480px) {
    input,
    select,
    textarea {
        width: 100%
    }
    dl.tabs,
    .nav-tabs {
        display: block !important
    }
    dl.tabs dt.tabs,
    .nav-tabs > li {
        float: none !important
    }
    #jm-allpage {
        padding: 0 !important
    }
    .sticky-bar #jm-bar-wrapp {
        position: static
    }
    #jm-allpage #jm-page .djtabs.default-theme .djtabs-title-wrapper {
        width: 100%
    }
    #jm-allpage #jm-page .djtabs.default-theme .djtabs-title-wrapper .djtabs-title {
        margin: 0 !important
    }
    #jm-allpage #jm-page .djtabs.default-theme .djtabs-title-wrapper + .djtabs-title-wrapper .djtabs-title {
        border-bottom: 1px solid transparent
    }
    #jm-allpage #jm-page .djtabs.default-theme .djtabs-active-wrapper .djtabs-title {
        border-bottom: none
    }
}

@media (max-width: 979px) {
    .dj-slide-title {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-rendering: optimizeLegibility;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .dj-slide-description,
    .dj-slide-description p {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-rendering: optimizeLegibility;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .dj-tabber .dj-tabs {
        display: none !important
    }
    .dj-tabber .dj-slides {
        margin: 0 !important
    }
    .dj-tabber .dj-tabber-in {
        min-height: 200px
    }
    .dj-tabber .dj-navigation {
        display: none
    }
}

@media (max-width: 767px) {
    #jm-header .dj-readmore-wrapper {
        display: none !important
    }
}

@media (max-width: 480px) {
    .dj-slide-title {
        font-size: 14px !important
    }
    .dj-slide-desc-text {
        padding: 10px !important
    }
    .dj-readmore-wrapper {
        display: none !important
    }
    #jm-allpage #jm-page .dj-slide-title + .dj-slide-description {
        margin: 10px 0 0
    }
    #jm-header .dj-indicators {
        display: none
    }
    #jm-header .dj-slide-description {
        display: none
    }

}

@media (max-width: 320px) {
    .dj-slide-title,
    .nivo-controlNav,
    .dj-indicators,
    .navigation-container-custom,
    .dj-slide-description,
    .dj-slide-desc-text,
    .dj-slide-desc-bg {
        display: none !important
    }

}
