<div class="container">
   <h4 class="" style="text-align:center; border-bottom:2px solid black; padding:10px;">Destaques</h4>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-3 col-md-offset-1 anim">
            <!-- widget-box interior content -->
            <div class="widget-box drop-shadow hvr-grow">
               <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/248x270/fff/000">
                  <p style="text-align:center; color:black;"><br>TECHNODRY<br>€45.90<br></p>
               </a>
               <div class="hide hidden-sizes">
                  <ul>
                     <li class="btn-danger">XS</li>
                     <li class="btn-success">S</li>
                     <li class="btn-success">M</li>
                     <li class="btn-danger">L</li>
                     <li class="btn-danger">XL</li>
                     <li class="btn-danger">2XL</li>
                     <li class="btn-danger">3XL</li>
                     <li class="btn-danger">4XL</li>
                  </ul>
                  <div class="container">
                     <div class="row ">
                        <div class="col-md-6">
                           <div style="margin-left:10px;">
                              <div class="row">
                                 <div class="rcorners1"></div>
                                 <div class="cenas">EM STOCK</div>
                              </div>
                              <div class="row">
                                 <div class="rcorners2"></div>
                                 <div class="cenas">FORA DE STOCK</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="btn-destaques btn-danger">
                              <a href="#">SHOP NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- widget-box interior content -->
         </div>
         <div class="col-md-3 col-md-offset-1 anim">
            <!-- widget-box interior content -->
            <div class="widget-box drop-shadow hvr-grow">
               <a href="#">
                  <img class="img-fluid" src="http://cdn.shopify.com/s/files/1/1441/5702/products/M_slime_grande.jpg?v=1509116353">
                  <p style="text-align:center; color:black;"><br>TECHNODRY<br>€23.95<br></p>
               </a>
               <div class="hide hidden-sizes">
                  <ul>
                     <li class="btn-danger">XS</li>
                     <li class="btn-success">S</li>
                     <li class="btn-success">M</li>
                     <li class="btn-danger">L</li>
                     <li class="btn-danger">XL</li>
                     <li class="btn-danger">2XL</li>
                     <li class="btn-danger">3XL</li>
                     <li class="btn-danger">4XL</li>
                  </ul>
                  <div class="container">
                     <div class="row ">
                        <div class="col-md-6">
                           <div style="margin-left:10px;">
                              <div class="row">
                                 <div class="rcorners1"></div>
                                 <div class="cenas">EM STOCK</div>
                              </div>
                              <div class="row">
                                 <div class="rcorners2"></div>
                                 <div class="cenas">FORA DE STOCK</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="btn-destaques btn-danger">
                              <a href="#">SHOP NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- widget-box interior content -->
         </div>
         <div class="col-md-3 col-md-offset-1 anim">
            <!-- widget-box interior content -->
            <div class="widget-box drop-shadow hvr-grow">
               <a href="#">
                  <img class="img-fluid" src="http://fullwear.pt/fw2016/wp-content/uploads/2016/11/SHIRTRUNNINGPRO-3.jpg">
                  <p style="text-align:center; color:black;"><br>TECHNODRY<br>€23.95<br></p>
               </a>
               <div class="hide hidden-sizes">
                  <ul>
                     <li class="btn-danger">XS</li>
                     <li class="btn-success">S</li>
                     <li class="btn-success">M</li>
                     <li class="btn-danger">L</li>
                     <li class="btn-danger">XL</li>
                     <li class="btn-danger">2XL</li>
                     <li class="btn-danger">3XL</li>
                     <li class="btn-danger">4XL</li>
                  </ul>
                  <div class="container">
                     <div class="row ">
                        <div class="col-md-6">
                           <div style="margin-left:10px;">
                              <div class="row">
                                 <div class="rcorners1"></div>
                                 <div class="cenas">EM STOCK</div>
                              </div>
                              <div class="row">
                                 <div class="rcorners2"></div>
                                 <div class="cenas">FORA DE STOCK</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="btn-destaques btn-danger">
                              <a href="#">SHOP NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- widget-box interior content -->
         </div>
         <div class="col-md-3 col-md-offset-1 anim">
            <!-- widget-box interior content -->
            <div class="widget-box drop-shadow hvr-grow">
               <a href="#">
                  <img class="img-fluid" src="https://dummyimage.com/248x270/fff/000">
                  <p style="text-align:center; color:black;"><br>TECHNODRY<br>€23.95<br></p>
               </a>
               <div class="hide hidden-sizes">
                  <ul>
                     <li class="btn-danger">XS</li>
                     <li class="btn-success">S</li>
                     <li class="btn-success">M</li>
                     <li class="btn-danger">L</li>
                     <li class="btn-danger">XL</li>
                     <li class="btn-danger">2XL</li>
                     <li class="btn-danger">3XL</li>
                     <li class="btn-danger">4XL</li>
                  </ul>
                  <div class="container">
                     <div class="row ">
                        <div class="col-md-6">
                           <div style="margin-left:10px;">
                              <div class="row">
                                 <div class="rcorners1"></div>
                                 <div class="cenas">EM STOCK</div>
                              </div>
                              <div class="row">
                                 <div class="rcorners2"></div>
                                 <div class="cenas">FORA DE STOCK</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="btn-destaques btn-danger">
                              <a href="#">SHOP NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- widget-box interior content -->
         </div>
      </div>
   </div>
</div>
<!-- Destaques -->
