<div class="row">%%Users%%, (%%Factory%%)</div>
<div class="row">
    <div class="col-sm-12 col-lg-4 col-xl-2">
        <button type="button" class="btn btn-secondary btn-block btn_modal" data-controller="user" data-method="new_user">%%New User%%</button>

    </div>
</div>
<!-- BEGIN BLOCK_MESSAGE -->
<div class="clearfix"><br></div>
<div class="row">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="alert alert-{{TYPE_CLASS}} mb-2" role="alert">
            <strong>{{TYPE}}</strong> {{MESSAGE}}
        </div>
    </div>
</div>
<!-- END BLOCK_MESSAGE -->