<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PstLocation" value="C:\X\aaa@aaa.com.pst" />
    <add key="Email" value="aaa@aaa.com" />
    <add key="LastBackup" value="1900-01-01" />
    <add key="DestinyIP" value="192.168.1.100" />
    <add key="DestinyMAC" value="55-aa-55-aa-55-aa" />
    <add key="DestinyFolder" value="Folder\Folder1" />
    <add key="DestinyFolderUsername" value="username" />
    <add key="DestinyFolderDomain" value="" />
    <add key="DestinyFolderPassword" value="password" />
  </appSettings>
</configuration>