<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PstLocation" value="C:\Users\Public\Documents\AirDroid\psttest.txt" />
    <add key="Email" value="tiago.loureiro@novoscanais.com" />
    <add key="LastBackup" value="2017-02-09" />
    <add key="DestinyIP" value="192.168.101.85" />
    <add key="DestinyMAC" value="54-04-a6-be-89-1c" />
    <add key="DestinyFolder" value="Partilha\Local Disk" />
    <add key="DestinyFolderUsername" value="novoscanais" />
    <add key="DestinyFolderDomain" value="" />
    <add key="DestinyFolderPassword" value="nc2014!+" />
    <add key="ZipFile" value="1" />
  </appSettings>
</configuration>