
<h3>%%Change Password%%</h3>
<br>
<div class="col-lg-8 col-lg-offset-2">
    <div class="form-group">
        <p>%%Enter your current password%%</p>
        <input class="form-control" type="password" placeholder="%%Current password%%" name="password" id="password">
    </div>
    <div class="form-group">
        <p>%%Enter your new password%%</p>
        <input class="form-control" type="password" placeholder="%%New password%%" name="newpassword" id="newpassword">
    </div>
    <div class="form-group">
        <p>%%Confirm your new password%%</p>
        <input class="form-control" type="password" placeholder="%%Confirm your password%%" name="newpassword2" id="newpassword2">
    </div>
    <div class="form-group">
        <div class="form-group">
            <button class="btn btn-yellow" id="altPassword">%%Change Password%%</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<p>%%You will receive an email confirming this change%%.</p>
<br>
<div class="alert alert-warning">
    <label class="text-danger" id="passResponse"></label>
</div>

<br>
<script type="text/javascript">
    $(document).ready(function () {
        $('.alert').hide();
        $('#altPassword').click(function () {
            $.post('/user/editpassword', {password: $('#password').val(), newpassword: $('#newpassword').val(), newpassword2: $('#newpassword2').val()}, function (response) {
                var type;
                var title;
                if (response.type == 1) {
                    $('#passResponse').removeClass('text-danger');
                    $('#passResponse').addClass('text-success');
                    $('#password').prop('disabled', true);
                    $('#newpassword').prop('disabled', true);
                    $('#newpassword2').prop('disabled', true);
                    $('#altPassword').prop('disabled', true);
                } else if (response.type === 2) {
                    type = 'warning';
                    title = 'Atenção!';
                } else {
                    type = 'error';
                    title = 'Erro, tente novamente mais tarde.';
                }
                $(function () {
                    new PNotify({
                        title: title,
                        text: '<span class="text-warning">'+response.message+'</span>',
                        type: type,
                        hide: true,
                        delay: 2000,
                        styling: 'bootstrap3'
                    });
                });
            }, 'json').done(function () {
            });
        });
    });
</script>