<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <select id="sector_combox" name="sector" class="form-control" >
                <option disabled="" selected="" >%%Select Sector%%</option>
                <!-- BEGIN BLOCK_SECTOR -->
                <option value="{{VALUE}}" {{select}}>{{TEXT}}</option>
                <!-- END BLOCK_SECTOR -->
            </select>
			<input type="hidden" name="idcompany" value="{{idcompany}}">
        </div>
    </div>
</div>