
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="factory">%%Factory%%</label>
            <select id="factory_combox" name="factory" class="form-control" >
                <option disabled="" selected="" >%%Select a Factory%%</option>
                <!-- BEGIN BLOCK_FACTORY -->
                <option value="{{VALUE}}" >{{TEXT}}</option>
                <!-- END BLOCK_FACTORY -->
            </select>
        </div>
    </div>
</div>                    