<!-- BEGIN BLOCK_COMPANYS -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="company">%%Company%%</label>
            <select id="company_combox" name="company" class="form-control" >
                <option value="" selected disabled>%%Select an Company%%</option>
                <!-- BEGIN BLOCK_COMPANY -->
                <option value="{{VALUE}}" >{{TEXT}}</option>
                <!-- END BLOCK_COMPANY -->
            </select>
        </div>
    </div>
</div>                    
<!-- END BLOCK_COMPANYS -->