<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="profile">%%Profile%%</label>
            <select id="profile_combox" name="profile" class="form-control" >
                <option disabled="" selected="" >%%Select Profile%%</option>
                <!-- BEGIN BLOCK_PROFILE -->
                <option value="{{VALUE}}" >{{TEXT}}</option>
                <!-- END BLOCK_PROFILE -->
            </select>
        </div>
    </div>
</div>                    