
<form class="form" enctype="multipart/form-data" method="post" name="Insecurity"  action="/insecurity/new_insecurity">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4"><i class="icon-file-text2"></i> %%Close Insecurity%%</h4>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <div id="designLayout" class="col-md-12" style="text-align: center; display: block;">
                        <div class="row">
                            <h5></h5>
                        </div>  
                        <!-- BEGIN BLOCK_INSECURITY -->
                        <div id="layout" style="display: block;">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-2" >
                                    <br>
                                    %%Resume%%
                                    <br>
                                </div>
                                <div class="col-md-10" >
                                    <h3 >
                                        <input type="text" name="Resumo" style="margin-top:30px; height:50px;"  class="form-control" value="{{RESUMO}}" disabled>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text-justify text1">
                                        <br>
                                        <div class="form-group">
                                            <img style="display:block; margin: 0 auto;" src="/assets/images/upload/{{IMG}}" width="80%" height="auto" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="col-md-12 text-justify text2" >
                                        <span>
                                            <div class="form-group">
                                                <h4 class="modal-title" id="myModalLabel4"> %%Historic%% %%Insecurity%%</h4>
                                                <ul class="historico_Insecurity_pc">{{COMMENT}}</ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text1">
                                        <div class="col-md-6" >
                                            <br>
                                            %%Date%%
                                            <br>
                                        </div>
                                        <div class="col-md-6" >
                                            <div class="form-group" style=" margin-top:15px;">
                                                <input type="date" style="text-align:center; font-size:14px;" value="{{DATE_RESOLVED}}" id="date-expired" class="form-control" name="start" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12 text2">
                                            <div class="col-md-6">
                                                <br>
                                                %%Company%%
                                                <br>
                                            </div>
                                            <div class="col-md-6">
                                                <div style="margin-top:15px;">
                                                    <input type="text"  value="{{COMPANY}}"  style="background-color:#ccc; height:35px; border: 1px solid #ccc; text-align:center;" disabled>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text1">
                                        <div class="col-md-6" >
                                            <br>
                                            %%Factory%%
                                            <br>
                                        </div>
                                        <div class="col-md-6"  >
                                            <div style="margin-top:15px;">
                                                <input type="text"  value="{{FACTORY}}"  style="background-color:#ccc; height:35px; border: 1px solid #ccc; text-align:center;" disabled>
                                                <br>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" >
                                        <div class="col-md-6">
                                            <br>
                                            %%Sector%%
                                            <br>
                                        </div>
                                        <div style="margin-top:15px;">
                                            <input type="text"  value="{{SECTOR}}"  style="background-color:#ccc; height:35px; border: 1px solid #ccc; text-align:center;" disabled>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 text-justify text1">
                                        <br>
                                        <br>
                                        <span>
                                            <div class="form-group">
                                                <textarea id="projectinput8" rows="10" class="form-control" name="comment" placeholder="%%Comments%%" required></textarea>
                                            </div>
                                        </span>
                                        <br><br>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="{{ID}}">
                                <input type="hidden" name="comment2" id="comment2" value="{{COMMENT2}}">
                                <div class="clearfix"></div>
                            </div><!-- END BLOCK_INSECURITY-->
                        </div>
                    </div>
                </div>	
                <div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                            <i class="icon-cross2"></i> %%Cancel%%
                        </button>
                        <button type="submit" class="btn btn-success ">
                            <i class="icon-check2"></i> %%Resolved%%
                        </button>
                    </div>
                </div>
            </div>
        </div>
</form>