<div class="row phone">
    <div class="col-sm-12 col-lg-4 col-xl-3">
        <button type="button" class="btn btn-secondary btn-block btn_modal" data-controller="insecurity" data-method="new_phone_insecurity">%%New Insecurity%%</button>
    </div>
</div>
<div class="row pc">
    <div class="col-sm-12 col-lg-4 col-xl-3">
        <button type="button" class="btn btn-secondary btn-block btn_modal" data-controller="insecurity" data-method="new_pc_insecurity">%%New Insecurity%%</button>
    </div>
</div>
<div class="clearfix"><br></div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="icon-bullhorn"></i> %%Insecurity%%</h4>
            </div>
            <div class="card-body collapse in">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th>%%Resume%%</th>
                                <th>%%Created at%%</th>
                                <th>%%Occurrence data%%</th>
                                <th>%%Status%%</th>
                                <th>%%Action%%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- BEGIN BLOCK_SURVEYS -->
                            <tr>
                                <th scope="row" class="name">{{CODE}}</th>
                                <td>{{SURVEY->CREATED_AT}}</td>
                                <td>{{SURVEY->VALIDATE}}</td>
                                <td><span class=" tag tag-{{status_class}} ">{{SURVEY->STATUS}}</span></td>
                                <td>
                                    <a class="btn btn-xs btn-warning" href="/survey/edit/{{SURVEY->ID}}"><i class="icon-edit"></i></a>
                                    <button class="btn btn-xs btn-danger btn_delete " data-controller="survey" data-id="{{SURVEY->ID}}"><i class="icon-close-round"></i></button>
                                </td>
                            </tr>
                            <!-- END BLOCK_SURVEYS -->
                        </tbody>
                    </table>
                </div> 
                <div class="col-md-12 ">
                    <h4>%%There are no Insecurities%%</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
