<div class="row">
    <div class="col-sm-12 col-lg-4 col-xl-3">
        <button type="button" class="btn btn-secondary btn-block btn_modal" data-controller="user" data-method="new_user">%%New user%%</button>
    </div>
</div>
<div class="clearfix"><br></div>

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="icon-users2"></i> %%User%%</h4>
				<div class="row st">
				<form class="form" method="get"  name="User" action="/panel/users/" >
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
							<label>%%Status%%</label>
								<select name="t" class="form-control" required >
									<!-- BEGIN BLOCK_STATUS -->
									<option value="{{VALUEST}}" {{SELECTED}} >{{TEXTST}}</option>
									<!-- END BLOCK_STATUS -->
								</select>
							</div>
						</div>
					</div>  
				</div>
				<div class="col-md-1" style="margin-top:28px;">
					<button type="submit" class="btn btn-success">%%Search%%</button>
				</div>
				</form>	
			</div>
            </div>
            <div class="card-body collapse in">
                <!-- BEGIN BLOCK_USERS -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th>%%Code%%</th>
                                <th>%%First name%%</th>
                                <th>%%Last name%%</th>
                                <th>%%Email%%</th>
                                <th>%%Status%%</th>
                                <th>%%Action%%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- BEGIN BLOCK_USER -->
                            <tr>
                                <th scope="row" >{{USER->CODE}}</th>
                                <td class="name">{{USER->NAME}}</td>
                                <td>{{USER->LAST_NAME}}</td>
                                <td>{{USER->EMAIL}}</td>
                                <td><span class="tag tag-{{status_class}}">{{USER->STATUS}}</span></td>
                                <td>
                                    <!-- BEGIN BLOCK_BTN_EDIT -->
                                    <button class="btn btn-xs btn-warning btn_modal" data-controller="user" data-id="{{USER->ID}}" data-method="edit" title="%%Edit User%%"><i class="icon-edit"></i></button>
                                    <button class="btn btn-xs btn-danger btn_delete " data-controller="user" data-id="{{USER->ID}}"><i class="icon-close-round" title="%%Delete User%%" ></i></button>
                                    <!-- END BLOCK_BTN_EDIT -->
                                </td>
                            </tr>
                            <!-- END BLOCK_USER -->
                        </tbody>
                    </table>

                </div>
                <!-- END BLOCK_USERS -->
                <!-- BEGIN BLOCK_NO_USERS -->
                <h4>%%No registered users%%</h4>
                <!-- END BLOCK_NO_USERS -->
            </div>
        </div>
    </div>
</div>