
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="category">%%Category%%</label>
            <select id="category_combox" name="category" class="form-control" >
                <option disabled="" selected="" >%%Select a category%%</option>
                <!-- BEGIN BLOCK_CATEGORY -->
                <option value="{{VALUE}}" >{{TEXT}}</option>
                <!-- END BLOCK_CATEGORY -->
            </select>
        </div>
    </div>
</div>                    